html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: hsl(208, 11%, 55%);
}
@keyframes blink {
    0% {
        color: hsl(208, 11%, 55%);
    }
    20% {
        color: red;
    }
    40% {
        color: yellowgreen;
    }
    60% {
        color: violet;
    }
    80% {
        color: aqua;
    }
    100% {
        color: hsl(208, 11%, 55%);
    }
}
@keyframes B {
    0% {
        color: black;
    }
    20% {
        color: red;
    }
    40% {
        color: yellowgreen;
    }
    60% {
        color: violet;
    }
    80% {
        color: aqua;
    }
    100% {
        color: black;
    }
}
.transition {
    color: black;
    transition: Width 6s,height 6s;
    animation-name: B;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}
.transition:hover {
    width: 60%;
    height: 25%;
    background-color:   hsl(192, 100%, 9%);
    border-radius: 10px;
    padding-left: 1em;
    padding-top: 8px;
}
.trans{
    font-family: 'Poppins', sans-serif; 
    color: black;"
    transition: Width 6s,height 6s;
    animation-name: B;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}
.trans:hover {
    width: 100%;
    height: 35%;
    background-color:   hsl(192, 100%, 9%);
    border-radius: 10px;
    padding: 6px;
}
#top {
    width: 100%;
    background-image: url('bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
}
#header {
    display: flex;
    width: 100%;
    padding: 40px;
}
#Logo {
    width: 50%;
}
#hButton {
    width: 50%;
}
#H {
    width: 15em;
    margin-left: 55%;
    padding: 1.2em;
    border: none;
    border-radius: 2em;
    background-color: white;
    animation-name: blink;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
#middle {
    display: flex;
    width: 100%;
}
#mText {
    width: 30%;
    margin-top: 7%;
    margin-left: 5em;
}
.text {
    margin-bottom: 1em;
}
#mButton {
    width: 20em;
    padding: 1.2em;
    border: none;
    border-radius: 2em;
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-top: 2em;
    animation-name: blink;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
#image {
    width: 60%;
}
.mockup {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
#page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 8em;
}
.box {
    display: flex;
    width: 80%;
    height: 25em;
    border-block-style: outset;
    border-block-width: 5px;
    margin-bottom: 2em;
    border-radius: 2em;
}
.G1 {
    width: 70%;
    padding: 8em;
}
.G1 h2 {
    margin-bottom: 15px;
}
.G2 {
    width: 50%;
    padding: 2em;
}
.G3 {
    width: 100%;
}
.grow {
    width: 100%;
}
.grow1 {
    width: 100%;
    margin-top: 3em;
    margin-left: 6em;
}
.F1 {
    width: 100%;
    margin-left: 12em;
    margin-right: 2em;
    margin-top: 8em;
}
.F1 h2 {
    margin-bottom: 15px;
}
#footer {
    display: grid;
    width: 100%;
}
#boxA {
    border-radius: 2em;
    border-block-style: outset;
    border-block-width: 5px;
    width: 40%;
    margin-left: 25%;
    text-align: center;
    padding: 4em;
    background-color: white;
    position: relative;
    top: 80px;
}
#boxB {
    background-color: hsl(192, 100%, 9%);
    width: 100%;
    display: flex;
    flex-direction: column;
    color: hsl(208, 11%, 55%);
}
#B1 {
    width: 100%;
    margin-left: 8em;
    margin-top: 10em;
}
#B2 {
    width: 100%;
    margin-left: 8em;
    margin-top: 2em;
    display: flex;
}
#flex1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#flex1 div {
    margin-bottom: 1em;
}
#flex2 {
    width: 20%;
    display: flex;
    margin-right: 10%;
}
#flex2 div {
    width: 100%;
    margin-bottom: 1em;
}
#flex3 {
    width: 30%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.nav {
    text-decoration: none;
    margin-bottom: 4em;
    color: white;
}
.anchor {
    margin-bottom: 2em;
}
#flex3 div {
    margin-bottom: 35%;
}
.fa-facebook-f {
    color: white;
    border-radius: 60%;
    border: 1px solid white;
    padding: 8px;
    size: 3em;
    margin-right: 8px;
    background-color: ;
}
.fa-twitter {
    color: white;
    border-radius: 60%;
    border: 1px solid white;
    padding: 8px;
    size: 3em;
    margin-right: 8px;
    background-color: ;
}
.fa-instagram {
    color: white;
    border-radius: 60%;
    border: 1px solid white;
    padding: 8px;
    size: 3em;
    background-color: ;
}
